<form [formGroup]="formLogin" (ngSubmit)="validateLogin(formLogin.value, formLogin.valid)" >
  <div class="margin-sides">
      <div class="col-md-4 signup-secti">
          <div class="col-sm-12 google-sign-form">
              <h1 class="login-titel">Please, enter your Login.</h1>
          </div>
          <div class="col-sm-12 google-sign-form">
              <input type="text" formControlName="login" name="login" class="form-control sign-up-input " placeholder="Login" value="">
              <input type="password" formControlName="password" name="password" class="form-control sign-up-input" placeholder="Password">
              <button [disabled]="!formLogin.valid" [ngClass]="{disabled: !formLogin.valid}" class="sign-up-btn" type="submit">LOGIN</button>
          </div>

          <div class="col-sm-12 link-sect">
              <p class="login-in-link">
                  <span class="right">No account?<a routerLink="/register"> Sign Up</a></span>
              </p>
          </div>
      </div>
  </div>
</form>
